#searchContainer {
    padding-top: 150px;
    width: 100%;
    height: 400px;
    background: #b9def7 url('../../assets/images/bg-header-2.jpeg') no-repeat left center; 
    background-size: cover;
}

#searchContainer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#searchContainer > .container > form {
    width: 50%;
}
